@import "root";
@import "reset";
@import "variables";


@mixin flexStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-container {
  height: 100%;
  width: 100%;
  min-width: var(--system-min-width);

  .el-container {
    width: 100%;
    height: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  .el-form {
    height: calc(100% - 32px);

    .el-select {
      width: 100%;
    }
  }

  .btns-box {
    bottom: 0;
    width: 100%;
    @include flexStyle;
    position: absolute;
  }
}

.layout-responsive-auto {
  &--row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &--column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__shrink {
    flex: 0 0 auto !important;
  }

  &__grow {
    flex: 1 1 auto !important;
    overflow: auto;
  }

  .el-table {
    max-height: none !important;
  }

  .el-form {
    height: auto;
    padding: 0 10px 0 0;
  }
}

.el-dropdown-menu {
  background-color: $bgColor;
  border: 1px solid $border-color;
}

.el-message {
  background-color: $bgColor;

  &--success {
    border-color: #67C23A !important;
  }

  &--info {
    border-color: $border-color !important;
  }

  &--error {
    border-color: #F56C6C !important;
  }

  &--warning {
    border-color: #E6A23C !important;
  }
}

.el-message-box {
  background-color: $bgColor;
  border: 1px solid $border-color;

  .el-message-box__header {
    .el-message-box__title {
      color: #ffffff;
    }

    .el-message-box__close {
      color: #ffffff;
    }
  }

  .el-message-box__btns {
    .el-button--primary {
      width: 60px;
      height: 32px;
      border-radius: 4px;
      background-color: $primaryColor;
      border-color: $primaryColor;
    }

    .el-button--default {
      &:first-child {
        width: 60px;
        height: 32px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid $border-color;

        span {
          color: rgba(255, 255, 255, 0.85) !important;
        }
      }
    }
  }
}

.el-table {
  background-color: transparent;
  font-size: var(--font-size-16);

  .el-table__body tr {
    background-color: #0a1a34;

    td.el-table__cell {
      border-color: #0a1a34;
    }

    &.el-table__row--striped td.el-table__cell {
      background-color: #133553;
    }

    &:nth-child(even) {
      background-color: #133553;
    }
  }

  .el-table__fixed-right {
    &::before {
      background-color: #0a1a34;
    }
  }

  .el-table__fixed {
    &::before {
      background-color: #0a1a34;
    }
  }

  .el-table__fixed-right-patch {
    background-color: #1d507d;
  }
}

.el-pagination {
  .el-pager {
    .number {
      background: $primaryColor !important;
    }

    .number:not(.disabled).active {
      color: #409eff !important;
      font-size: var(--font-size-16);
      border: 1px solid #409eff !important;
    }
  }

  .btn-prev:disabled, .btn-next:disabled {
    background-color: rgba(29, 100, 110, 1);
  }

  .btn-prev:not(:disabled), .btn-next:not(:disabled) {
    background-color: $primaryColor;
  }

  .el-pagination__jump {
    margin-left: 2px;
  }
}

.el-select {
  z-index: 10 !important;

  .el-select__tags {
    .el-tag.el-tag--info {
      background-color: #1d507d;
      border-color: #1d507d;
      color: white;
    }
  }
}

.el-select[disabled="disabled"] {
  .el-select__tags {
    .el-tag--info {
      color: #C0C4CC;
    }
  }
}

.el-select-dropdown {
  //position: absolute;

}
