@import "root";
@import "reset";
@import "variables";

* {
  margin: 0;
}

@mixin flexStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-container {
  height: 100%;
  width: 100%;

  .el-container {
    width: 100%;
    height: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  .el-form {
    height: calc(100% - 32px);

    .el-select {
      width: 100%;
    }
  }

  .btns-box {
    bottom: 0;
    width: 100%;
    @include flexStyle;
    position: absolute;
  }
}

.layout-responsive-auto {
  &--row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &--column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__shrink {
    flex: 0 0 auto !important;
  }

  &__grow {
    flex: 1 1 auto !important;
    overflow: auto;
  }

  .el-table {
    max-height: none !important;
  }

  .el-form {
    height: auto;
    padding: 0 10px 0 0;
  }
}

.el-dropdown-menu {
  background-color: $bgColor;
  border: 1px solid $border-color;
}

.el-message {
  //border-color: $border-color;
  background-color: $bgColor;
  //&--success, &--info, &--error, &--warning {
  //  background-color: $bgColor;
  //}

  &--success {
    border-color: #67C23A !important;
  }

  &--info {
    border-color: $border-color !important;
  }

  &--error {
    border-color: #F56C6C !important;
  }

  &--warning {
    border-color: #E6A23C !important;
  }
}

.el-message-box {
  background-color: $bgColor;
  border: 1px solid $border-color;

  .el-message-box__header {
    .el-message-box__title {
      color: #ffffff;
    }

    .el-message-box__close {
      color: #ffffff;
    }
  }

  .el-message-box__btns {
    .el-button--primary {
      width: 60px;
      height: 32px;
      border-radius: 4px;
    }

    .el-button--default {
      &:first-child {
        width: 60px;
        height: 32px;
        background: transparent;
        border-radius: 4px;
        border: 1px solid $border-color;

        span {
          color: rgba(255, 255, 255, 0.85) !important;
        }
      }
    }

    //.el-button {
    //  padding: 5px 16px;
    //  box-sizing: border-box;
    //
    //  span {
    //    height: 22px;
    //    font-size: 14px;
    //    font-weight: 400;
    //    line-height: 22px;
    //  }
    //}
  }
}
