:root {
  --headerHeight: 50px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --system-name-font-size: 32px;
  --system-name-color: transparent;
  --system-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --system-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --system-image-filter: blur(40px);
  --body-title-color: #ffffff;

  --tabs-height: 34px;
  --tabs-text-color: #f3f6f9;
  --tabs-default-bgcolor: rgba(32, 33, 36, 1.00);
  --tabs-active-bgcolor: rgb(53, 54, 58);
  //--tabs-hover-bgcolor: rgb(43, 44, 49);
  --tabs-hover-bgcolor: #0a1a34;
  --tabs-gradient-divider: 65%;
}
