.schema-tree-plus {
  text-align: left;
  font-size: 13px;
  padding-left: 6px;
  padding-top: 6px;

  li {
    list-style-type: none;
    white-space: nowrap;
    outline: none;
    padding: 0;
  }

  li ul {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0;
  }

  .line:before {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    content: '';
    border-right: 1px solid #d9d9d9;
  }

  .roots_docu:before,
  .roots_docu:after,
  .center_docu:before,
  .bottom_docu:before,
  .center_docu:after,
  .bottom_docu:after {
    position: absolute;
    content: '';
    border: 0 solid #d9d9d9;
  }

  .roots_docu:before {
    left: 10px;
    height: 50%;
    top: 50%;
    border-left-width: 1px;
  }

  .roots_docu:after {
    top: 50%;
    left: 11px;
    width: 50%;
    border-top-width: 1px;
  }

  .center_docu:before {
    left: 10px;
    height: calc(100% + 6px);
    border-left-width: 1px;
  }

  .center_docu:after {
    top: 50%;
    left: 11px;
    width: 50%;
    border-top-width: 1px;
  }

  .bottom_docu:before {
    left: 10px;
    height: 50%;
    border-left-width: 1px;
  }

  .bottom_docu:after {
    top: 50%;
    left: 11px;
    width: 50%;
    border-top-width: 1px;
  }

  li a {
    display: inline-block;
    line-height: 24px;
    height: 24px;
    margin: 0;
    cursor: pointer;
    transition: none;
    vertical-align: middle;
    //color: #555555;
    color: #ffffff;
  }

  .node_name {
    display: inline-block;
    padding: 0 3px;
    border-radius: 4px;
  }

  .curSelectedNode .node_name {
    color: #000;
    background-color: #bae7ff;
  }

  .curSelectedNode_Edit {
    height: 20px;
    opacity: 0.8;
    color: #000;
    border: 1px #6cc2e8 solid;
    background-color: #9dd6f0;
  }

  .tmpTargetNode_inner {
    opacity: 0.8;
    color: #fff;
    background-color: #4fcbf0;
    filter: alpha(opacity=80);
  }

  .rename {
    font-size: 12px;
    line-height: 22px;
    width: 80px;
    height: 22px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0;
    background: none;
  }

  .button {
    position: relative;
    display: inline-block;
    line-height: 24px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }

  .button.edit {
    color: #25ae88;
  }

  .button.remove {
    color: #CB4042;
  }

  .button.chk {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0 4px 0 0;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fff;
  }

  .chk.radio_true_full,
  .chk.radio_false_full,
  .chk.radio_true_full_focus,
  .chk.radio_false_full_focus,
  .chk.radio_false_disable,
  .chk.radio_true_disable,
  .chk.radio_true_part,
  .chk.radio_false_part,
  .chk.radio_true_part_focus,
  .chk.radio_false_part_focus {
    border-radius: 8px;
  }

  .button.chk:after {
    position: absolute;
    top: 1px;
    left: 4px;
    width: 4px;
    height: 8px;
    content: '';
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .button.checkbox_false_full_focus {
    border-color: #ccc;
  }

  .button.checkbox_true_full,
  .button.checkbox_true_full_focus,
  .button.checkbox_true_part,
  .button.checkbox_true_part_focus,
  .button.checkbox_true_disable {
    border-color: #39f;
    background-color: #39f;
  }

  .button.checkbox_true_full:after,
  .button.checkbox_true_full_focus:after,
  .button.checkbox_true_disable:after {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }

  .button.checkbox_true_part:after,
  .button.checkbox_true_part_focus:after {
    top: 5px;
    left: 1px;
    width: 10px;
    height: 1px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    border-right: 0;
  }

  .button.radio_true_full,
  .chk.radio_true_full_focus,
  .chk.radio_true_part,
  .chk.radio_true_part_focus {
    border-color: #39f;
  }

  .button.radio_true_full:after,
  .chk.radio_true_full_focus:after,
  .chk.radio_true_part:after,
  .chk.radio_true_part_focus:after {
    top: 3px;
    left: 3px;
    width: 8px;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    border: 0;
    border-radius: 4px;
    background: #39f;
  }

  .button.checkbox_true_disable,
  .button.checkbox_false_disable,
  .chk.radio_false_disable,
  .chk.radio_true_disable {
    cursor: not-allowed;
  }

  .button.checkbox_false_disable {
    background-color: #f5f5f5;
  }

  .button.checkbox_false_disable + a,
  .button.radio_false_disable + a {
    color: rgba(0, 0, 0, .38);
    cursor: not-allowed;

    .button {
      cursor: not-allowed;
    }
  }

  .button.checkbox_false_disable + a.curSelectedNode .node_name,
  .button.radio_false_disable + a.curSelectedNode .node_name {
    color: rgba(0, 0, 0, .38);
    background-color: transparent;
  }

  .button.noline_close:before,
  .button.noline_open:before,
  .button.root_open:before,
  .button.root_close:before,
  .button.roots_open:before,
  .button.roots_close:before,
  .button.bottom_open:before,
  .button.bottom_close:before,
  .button.center_open:before,
  .button.center_close:before {
    position: absolute;
    top: 5px;
    left: 8px;
    content: '';
    transition: -webkit-transform ease 0.3s;
    transition: transform ease 0.3s;
    transition: transform ease 0.3s, -webkit-transform ease 0.3s;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transform-origin: 25% 50%;
    transform-origin: 25% 50%;
    border: 5px solid;
    //border-color: transparent transparent transparent #666;
    border-color: transparent transparent transparent #fff;
  }

  .button.noline_open:before,
  .button.root_open:before,
  .button.roots_open:before,
  .button.bottom_open:before,
  .button.center_open:before {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }

  .button.ico_loading {
    margin-right: 2px;
    background: url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7') 0 center no-repeat;
  }

  .tmpTargetzTree {
    opacity: 0.8;
    background-color: #2EA9DF;
    filter: alpha(opacity=80);
  }

  .tmpzTreeMove_arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    color: #4fcbf0;
  }

  .ztree.zTreeDragUL {
    overflow: hidden;
    position: absolute;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    border: 1px #176b53 dotted;
    background-color: #dbdbdb;
    filter: alpha(opacity=80);
  }
}

.zTreeMask {
  position: absolute;
  z-index: 10000;
  opacity: 0;
  background-color: #cfcfcf;
  filter: alpha(opacity=0);
}

span.tmpzTreeMove_arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    left: 4px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #409EFF;
    content: " ";
  }

  &::after {
    position: absolute;
    top: 5px;
    left: -6px;
    width: 12px;
    height: 6px;
    background-color: #409EFF;
    content: " ";
  }
}

.schema-tree-select-plus {
  a.curSelectedNode .node_name {
    color: #555555;
    background-color: transparent;
  }
}

.el-select .el-tag__close.el-icon-close {
  right: -5px;
  font-size: 14px;
  background-color: transparent;
  transform: scale(.85);
}

.schema-tree-select-options {
  display: none !important;
}

.schema-tree-action-button {
  display: inline-block;
  font-size: 12px;
  color: #409EFF;
  margin: 0 6px;

  &:hover {
    text-decoration: underline;
  }
}

.schema-tree-container {
  padding-top: 16px;
  box-sizing: border-box;
  overflow: hidden;

  .el-scrollbar {
    height: 100%;
    box-sizing: border-box;
  }

  .el-scrollbar__wrap {
    overflow: visible;
    overflow-x: hidden;
  }
}

.el-scrollbar .el-scrollbar__view .el-select-dropdown__item {
  height: auto;
  max-height: 274px;
  overflow: hidden;
  overflow-y: auto;
}

.el-select-dropdown__item.selected {
  font-weight: normal;
}
